#title{
    background-color:grey;
    color: white;
    background-position: center;
    padding-left: 20px;
    border: 4px black solid;

}
.content{
    color: white;
}
.navbar-brand{
    font-family: 'Roboto', sans-serif;
    color: white;
}
container-fluid{
 background-color:grey;
    margin-right: 0px;;
}

.navbar-nav{
    padding-left: 900px;
  
}
.nav-item{
    color: white;
    padding-left: 50px;
}
.img1{
    width:30%;
     border-radius: 100%;
     text-align: center;
}

.content{
     font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    padding-left:20px;
}
.card-body{
    font-family:'Roboto', sans-serif; 
    height:270px;
    text-align: center;
    padding-top: 25px;
    padding-left: 15px;
}
.card-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
h5{
    font-family:'Roboto', sans-serif; 
    font-weight: 400;
}
.card-title{
    font-family:'Roboto', sans-serif; 
    font: 2em;
}
.card1{
    background-color:antiquewhite;
}
.img-skill{
    width: 100%;
    height: 120%;
}
.cardi{
    background-color:grey;
    height: 354px;
}
.card2{
     background-color:grey;
       font-family:'Roboto', sans-serif; 
    color:white;
    height:354px;
    padding-bottom: 0px;
}
span{
    color:aquamarine;
}
.card3{
     background-color:antiquewhite;
       height: 350px;
    
}
.btn{
    background-color: none;
    color: #ffa260;
    border: 2px solid;
    padding 1em 2em;
    font-size: 1em;
}
.btn:hover{
    border-color: #2343b8;
     color:white;
     box-shadow: 0.05em 0.5em -0.4em 0.3em;
    transform: rotateY(-0.4em);
    
}
.card32{
       background-color:antiquewhite;
       height: 350px;
       padding-top:39px;
     
}
.card41{
    background-color:grey;
    color: white;
}
.card42{
    background-color:grey;
    color: white;
}
.card43{
    background-color:grey;
    color: white;
}
p{
    font-size: 0.8em;
}
.bottom-container {
    text-align: center;
    color: black;
  background-color:antiquewhite;
  padding: 50px 0 20px;
    border: 4px black solid;
}
.logo{
    float: right;
    padding-left: 14px;
}
.media{
    padding-left: 550px;
    padding-bottom: 10px;
}